<div class="list-group navbar" id="edit-account-sidebar">
  <ul class="nav" id="mynav">
    <li><%= link_to "Account Info", edit_user_registration_path, class: "list-group-item active" %></li>
    
  </ul>
</div>
