<div class="row">
  <div class="col-md-3">
    <%= render 'edit_sidebar' %>
  </div>
  <div class="col-md-9" id="mycontent" data-spy="scroll" data-target="#sidebar" data-offset="0">
    <%= render 'edit_account_information' %>
  </div>
</div>
